form.sign-in(action="")
  .sign-in__container.sign-in__container--top
    a.sign-in__close(href="#")
  .sign-in__container.sign-in__container--middle.sign-in__container.sign-in__container--indent-small
    .sign-in__title.sign-in__title--big-indent Ваши данные
    .sign-in__form-row.sign-in__form-row--input-text.sign-in__form-row--big-indent
      label.sign-in__label Ваше имя
      input.sign-in__form-input(
        type="text"
        value=""
        name=""
        id=""
        placeholder=""
      )
    .sign-in__form-row.sign-in__form-row--input-text.sign-in__form-row--big-indent-2
      label.sign-in__label Фамилия
      input.sign-in__form-input(
        type="text"
        value=""
        name=""
        id=""
        placeholder=""
      )
    .sign-in__form-row
      button.sign-in__btn(type="submit") Подтвердить
  .sign-in__container.sign-in__container--bottom
